* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Outfit", sans-serif;
	font-optical-sizing: auto;
	font-weight: 900;
	font-style: normal;
}

body {
	background: #bcdafe;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column; 
	height: 100vh;
}

.page {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.app-container {
	width: 600px;
	background: #feecbc;
	padding: 20px;
	border-radius: 12px;
	border-style: solid;
	text-align: center;
}

.title {
	margin-bottom: 20px;
	font-size: 60px;
	text-align: center;
	display: block;
}

#quiz-card {
	margin-bottom: 20px;
}

#question {
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 15px;
}

#answers button {
	display: block;
	width: 100%;
	padding: 10px;
	margin: 5px 0;
	font-size: 20px;
	font-weight: 300;
	border-radius: 12px;
	border-style: solid;
	background: #007bff;
	color: white;
	cursor: pointer;
	transition: background 0.2s;
}

#answers button:hover {
	background: #5a9de9;
}

#score {
	margin-top: 15px;
	font-size: 16px;
	font-weight: 700;
}